<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="base/modelo">

<head>

<title>SID - Início</title>

</head>

<section layout:fragment="conteudo">
	<div class="jumbotron">
		<h1>SID - Sistema de doações</h1>
		<p>Módulo de instituições do Hoping</p>
		<p>Trabalho feito para a disciplina de Desenvolvimento de software para persistência com o Prof. Luiz Stephany Filho<br/>Equipe: Edio Igor, Paulo  Wheverton e Ruben Blenicio</p> 	
	</div>
</section>

<section layout:fragment="js"></section>

</html>